---
import Layout from "../layouts/Layout.astro";
---
<Layout title="TicTacToe">
  <main class="flex min-h-screen justify-center items-center select-none">
    <div class="h-full flex flex-col items-center justify-center">
      <div class="title text-8xl">Tic Tac Toe</div>
      <div class="flex justify-center items-center gap-20 mt-20">
        <div class="flex flex-col items-center justify-center">
          <a href="/multiplayer">
            <img
            src={"https://utfs.io/f/cqLSAoB0L6NSGWus774GEgeI7tpzNCmQnqLZwDs0hOVbxJUX"}
            alt=""
            class="border-4 border-[#FEF08A] hover:scale-110 transition-all"
          />
          </a>
          <h1 class="text-7xl title mt-5">Vs. Friend</h1>
        </div>
        <div class="flex flex-col items-center justify-center">
          <a href="/singleplayer">
            <img
            src={"https://utfs.io/f/cqLSAoB0L6NSBKlAxahvM3PzHEtTiIbla4sr5xdeR9fJy7mL"}
            alt=""
            class="border-4 border-[#FEF08A] hover:scale-110 transition-all"
          />
          </a>
          <h1 class="text-7xl title mt-5">Vs. Computer</h1>
        </div>
      </div>
    </div>
  </main>
</Layout>
