---
import Layout from "../layouts/Layout.astro";
import MultiplayerGame from "../components/MultiplayerGame";
---

<Layout title="TicTacToe - Multiplayer">
  <main class="flex min-h-screen justify-center items-center select-none">
      <MultiplayerGame client:load />
  </main>
</Layout>
