---
import Layout from "../layouts/Layout.astro";

import SingleplayerGame from "../components/SingleplayerGame.jsx";
---

<Layout title="TicTacToe - Single Player">
  <main class="flex min-h-screen justify-center items-center select-none">
      <SingleplayerGame client:load />
  </main>
</Layout>
